<% content_for :name, @author.name %>
<article class="author">
  <header>
  </header>
  <p><label>Name:</label> <%= link_to(@author.name, @author) %></p>
  <p><img src=<%= @author.image_url %> /></p>
  <p><label>DOB:</label> <%= @author.dob %></p>
  <p><label>Nationality:</label> <%= @author.nationality %></p>
  <p><label>Awards:</label> <%= @author.awards %></p>
  <p><label>Biography:</label> <%= @author.biography %></p>  
  
</article>

<%= link_to 'All Authors', authors_path %> <%- if current_user.try(:admin?)%>| <%= link_to 'Edit', edit_author_path(@author) %>
<% if(@books.present?) %>

  <ul>
    <% @books.each do |book| %>
    <li>
        <%= link_to(book.title, book) %>
        by <%= link_to(book.author.name, book.author) %><br/>
   </li>
  <% end %>
<% end %>

<% if(!@books.present?) %>

<%= button_to 'Delete', @author,
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
        <% end %> 
<% end %>