<% content_for :name, @author.name %>
<article class="author">
  <header>
  </header>
  <p><label>Name:</label> <%= @author.name %></p>
  <p><img src=<%= @author.image_url %> /></p>
  <p><label>DOB:</label> <%= @author.dob %></p>
  <p><label>Nationality:</label> <%= @author.nationality %></p>
  <p><label>Awards:</label> <%= @author.awards %></p>
  <p><label>Biography:</label> <%= @author.image_url %></p>  
  
</article>

<%= link_to 'All Books', books_path %> | <%= link_to 'Edit', edit_book_path(@book) %>

<%= button_to 'Delete', @book,
				method: :delete,
				data: { confirm: 'Are you sure?' } %>