<h1>Library</h1>

<%= form_for(@users) do |f| %>
  <%=f.label :user_id %><%= f.text_field :user_id, autofocus: true %><br />
  <%= f.label :password_digest %><%= f.text_field :password_digest %><br />

<% end %>