<% content_for :fullname, @user.fullname %>
<article class="user">
  <header>
  </header>
  <p><label>Full Name:</label> <%= @user.fullname %></p>
  <p><label>Username:</label> <%= @user.username %></p>
  <p><label>Administrator:</label> <% if(@user.admin) %> true <% else %> false <% end %></p>
</article>

<% if(!current_user.admin) %> <p>You're not an Administrator. Please contact your Administrator.</p> <% end%>

<% if(current_user.admin) %> <%= link_to 'All Users', users_path %> | <%= link_to 'Edit', edit_user_path(@user) %> 

<br /><br />

<%= button_to 'Delete', @user,
				method: :delete,
				data: { confirm: 'Are you sure?' } %>

        <% end %>

