<<<<<<< HEAD
<h2>Welcome <%= current_user.username %>!</h2>
=======
Welcome <%= current_user.fullname %>
>>>>>>> b766d82f05a067c4172ccec5f3690ddfb18037c1

<p>Available as of <%= formatted_time(@available_at) %></p>
<%= page_entries_info @books %>
<ul>
	<% @books.each do |book| %>
  <li>
  		<%= link_to(book.title, book) %>
  		by <%= book.author %><br/>
  		
	</li>
<% end %>
</ul>
<%= paginate @books %>	
