<% content_for :title, @book.title %>
<article class="book">
  <header>
  </header>
  <p><label>Title:</label> <%= @book.title %></p>
  <p><img src=<%= @book.image_cover_url %> /></p>
  <p><label>Author:</label> <%= @book.author %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>isbn:</label> <%= @book.isbn %></p>
  <p><label>genre:</label> <%= @book.genre %></p>
  <p><label>published_on:</label> <%= @book.published_on %></p>
  <p><label>total_in_library:</label> <%= @book.total_in_library %></p>
  <p><label>abstract:</label> <%= @book.abstract %></p>
</article>

<%= link_to 'All Books', books_path %> | <%= link_to 'Edit', edit_book_path(@book) %>

<br />
<br />

<%@existingReservation = Reservation.find_by('book_id = ? and user_id = ?', @book.id, current_user.id)%>

<% if (@book.total_in_library > 0 && @existingReservation.nil?) %>
 <%= form_for(Reservation.new) do |f| %>
    <%= f.hidden_field( :book_id, :value => @book.id.to_s) %>
    <%= f.hidden_field( :due_on, :value => (Date.today + 7).to_s) %>
    <%= f.submit "Reserve" %>
 <% end %>
<% end %>

<%- if current_user.try(:admin?)%>
     <font color="red">FOR TESTING PURPOSES</font>
     <%= form_for(Reservation.new) do |f| %>
        <%= f.hidden_field( :book_id, :value => @book.id.to_s) %>
        <%= f.hidden_field( :due_on, :value => (Date.today - 7).to_s) %>
        <%= f.submit "Reserve and Immediately Make Overdue" %>
     <% end %> 

<%= button_to 'Delete', @book,
				method: :delete,
				data: { confirm: 'Are you sure?' } %>
<% end %>