<% content_for :title, @book.title %>
<article class="book">
  <header>
  </header>
  <p><label>Author:</label> <%= @book.author %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Price:</label> <%= number_to_currency(@book.price) %></p>
  <p><label>isbn:</label> <%= @book.isbn %></p>
  <p><label>genre:</label> <%= @book.genre %></p>
  <p><label>image_cover_url:</label> <%= @book.image_cover_url %></p>
  <p><label>publisehd_on:</label> <%= @book.publisehd_on %></p>
  <p><label>total_in_library:</label> <%= @book.total_in_library %></p>
  <p><label>abstract:</label> <%= @book.abstract %></p>
  
  
</article>

<%= link_to 'All Books', books_path %> | <%= link_to 'Edit', edit_book_path(@book) %>

<%= button_to 'Delete', @book,
				method: :delete,
				data: { confirm: 'Are you sure?' } %>