<h3><%= current_user.username %>'s Reservations</h3>
<br />
<%= page_entries_info @myreservations %>
<ul>
	<% @myreservations.each do |myreservation| %>
		<li>
			<% @book = Book.find_by_id(myreservation.book_id)  %>
    		<% @user = User.find_by_id(myreservation.user_id) %>
    		<p><%= link_to(@book.title, @book) %></p>
			<p><img src=<%= @book.image_cover_url %> /></p>
			<p><b>Reservered On: <%= myreservation.reserved_on %></b></p>
			<p><b>Due On: <%= myreservation.due_on %></b></p>
			    		  <%= button_to 'Return Book', myreservation,
							method: :delete,
							data: { confirm: 'Are you sure?' } %>
		</li>
	<% end %>
</ul>
<%= paginate @myreservations %>

<br />

<%- if current_user.try(:admin?)%>
<h3>All Reservations</h3>
<br />
<%= page_entries_info @allreservations %>
<ul>
	<% @allreservations.each do |allreservation| %>
		<li>
			<% @book = Book.find_by_id(allreservation.book_id)  %>
    		<% @user = User.find_by_id(allreservation.user_id) %>
    		 <p><%= link_to(@book.title, @book) %></p>
			<p><img src=<%= @book.image_cover_url %> /></p>
			<p><b>Reservered By: <%= @user.username %></b></p>
			<p><b>Reservered On: <%= allreservation.reserved_on %></b></p>
			<p><b>Due On: <%= allreservation.due_on %></b></p>   		  <%= button_to 'Return Book', allreservation,
							method: :delete,
							data: { confirm: 'Are you sure?' } %>
		</li>
	<% end %>
</ul>
<%= paginate @allreservations %>
<% end -%>